.home {
  height: 100%;
  padding-top: 40vh;
  overflow: hidden;
  text-align: center;
  background-image: url('../images/bg-image.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  background-position: left bottom;
  position: relative;
  z-index: 0;
  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    background: linear-gradient(
      to right,
      rgba($bg-color, 0.6), rgba($bg-color, 0.2)
    );
    z-index: -1;
  }
  &_name {
    font-size: 5rem;
    padding-bottom: 1rem;
    margin-top: 1rem;
    border-bottom: 2px solid $text-color;
    &-last {
      color: $secondary-color;
      font-weight: 800;
    }
  }
}
